<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">


    <title>Natural Synthesizer Panel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/19afbf8bbb.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/css/main.css') }}" type="text/css" rel="stylesheet">

  </head>

  <body class="text-center">
        <div class="header">
            <span class="header-title">Natural Synthesizer</span>
            <a class="header-logout" href="{{ url_for('auth.logout') }}">/ Logout ({{ email }})</a>
        </div>
        <br>
        <!-- <button type="button" class="btn btn-secondary" id="change_synth_settings" type="submit">Change Synth Settings</button>&nbsp;&nbsp; -->
        <button type="button" class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#modal_synth_settings">Change Synth Settings</button>&nbsp;&nbsp;
        <!-- <button type="button" class="btn btn-secondary" id="raspberry_introduction_request">Raspberry Introduction Request</button><br><br> -->
        <button type="button" class="btn btn-secondary" id="refresh_button">Refresh Nodes List</button> &nbsp;&nbsp;
        <!-- <button type="button" class="btn btn-secondary" id="peripheral_introduction_request">Nodes Introduction Request</button> -->
        
        </div>
        
        <div class="container nodes" id="nodes">
            <!-- this will be filled autoamtically -->
        </div>

        <div id="synth_settings_modal_content">
            <!-- this will be filled autoamtically -->

        </div>

        <script>
            $(document).ready(function(){
              $.ajax({
                url: "/get_raspberry_info",
                type: "get",
                success: function(response) {
                  $("#synth_settings_modal_content").empty();
                  $("#synth_settings_modal_content").html(response);
                },
                error: function(xhr) {
                }
              });
            });

            $("#refresh_button").click(function(){
                var text = $(this).val();
            
                $.ajax({
                  url: "/nodes",
                  type: "get",
                  success: function(response) {
                    $("#nodes").empty();
                    $("#nodes").html(response);
                  },
                  error: function(xhr) {
                  }
                });
            });

            
            $("#change_synth_settings").click(function(){
              var text = $(this).val();
            
              $.ajax({
                url: "/get_raspberry_info",
                type: "get",
                success: function(response) {
                  $("#synth_settings_modal_content").empty();
                  $("#synth_settings_modal_content").html(response);
                },
                error: function(xhr) {
                }
              });

            });
        </script>
        
  </body>
</html>
