{% for node in node_info %}
    
    <div class="row node">
        <div class="col-md-3"></div>
        <div class="col-md-6 node-content">
            <div class="node-info">
                <div class="node-name">
                    <span class="node-stat">
                        {% if node.is_active %}
                        <i title="Node currently conncted" class="fa fa-check"></i>
                        {% endif %}
                        {% if not node.is_active %}
                        <i title="Node currently disconnected" class="fa fa-times"></i>
                        {% endif %}
                    </span>
                    {{ node.name }}
                </div>
                <div class="node-ip">
                    Sensor Type: {{ node.sensor_type }}
                </div>
            </div>
            <div class="node-buttons">
                    <div class="node-setting-button">
                        {% if node.is_active %}
                        <button class="btn btn-md btn-secondary btn-block" type="submit" data-toggle="modal" data-target="#modal_{{ node.name }}" ><i class="fa fa-cog"></i></button>
                        {% endif %}
                        {% if not node.is_active %}
                        <button class="btn btn-md btn-secondary btn-block" type="submit" disabled><i class="fa fa-cog"></i></button>
                        {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="modal_{{ node.name }}" tabindex="-1" role="dialog" aria-labelledby="modal_{{ node.name }}_label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="modal_{{ node.name }}_label">Change Node Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="name_change_form" id="{{ node.name }}">
                                            <div class="form-group">
                                            <label for="new_name_field">New name</label>
                                            <input class="form-control" class="new_name_input" id="new_name_input" placeholder="Enter node's new name">
                                            </div>
                                            <button type="submit" class="btn btn-primary"">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="node-toggle-button">
                    {% if node.is_active %}
                    <button class="btn btn-md btn-danger btn-block change_activeself_false" name="{{ node.name }}" type="submit" id="change_activeself_false">Disable</button>
                    {% endif %}
                    {% if not node.is_active %}
                    <button class="btn btn-md btn-success btn-block change_activeself_true" name="{{ node.name }}" type="submit" id="change_activeself_true">Enable</button>
                    {% endif %}
                </div>
                
            </div>
        
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 node-content">
            <div class="node-data">
                <span class="content">
                    <pre><code>&nbsp;&nbsp; {{ node.value }}</code></pre>
                </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
{% endfor %}

<script>
    $(".change_activeself_true").click(function(){

        var data = { 
            device_name: $(this).attr("name"),
            activeself: "true"
        }
       
        $.ajax({
            url: "/changeactiveself",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ Data: data }),
            success: function(response) {
            
            },
            error: function(xhr) {
            }
        });
    });

    $(".change_activeself_false").click(function(){

        var data = { 
            device_name: $(this).attr("name"),
            activeself: "false"
        }
        
        $.ajax({
            url: "/changeactiveself",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ Data: data }),
            success: function(response) {
            
            },
            error: function(xhr) {
            }
        });
    });

    $(".name_change_form").on('submit', function(e) {
        e.preventDefault();

        var id = $(this).attr('id');

        var data = { 
            device_name: id,
            new_name: $(this).find('input').first().val()
        }
        
        $.ajax({
            url: "/changename",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ Data: data }),
            success: function(response) {
            },
            error: function(xhr) {
            }
        });
        
        var name = '#modal_'+ id
        $(name).modal('toggle');
    });
</script>